textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: transparent;
  color: inherit;
  outline: none;
  font-size: 14px;
  min-height: 120px;
  resize: vertical;
  padding-top: 10px;
}
:host {
  display: block;
  width: 95%;
}
