table {
  width: 100%;
  border-collapse: collapse;
  background: #0b1220;
  border-radius: 12px;
  overflow: hidden;
}
.container-task {
  padding: 0 20px 30px 20px;
}
th,
td {
  padding: 12px 16px;
  text-align: left;
}
th {
  background: #111827;
  color: #94a3b8;
  text-transform: uppercase;
  font-size: 13px;
}
tr:nth-child(even) {
  background: #111827;
}
tr:hover {
  background: #1e293b;
}
.contain-table {
  cursor: pointer;
}

.status {
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
}
.mat-mdc-paginator {
  border-radius: 0px 0px 12px 12px;
}
.mat-mdc-table,
.mdc-data-table__table,
.cdk-table {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.icon {
  color: red;
}
