<table style="margin-top: 20px">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Priorité</th>
      <th>Statut</th>
      <th>Échéance</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    @for (item of datas()(); track $index) {
    <tr>
      <td>
        {{ item.title }}
      </td>
      <td>
        {{ item.priority }}
      </td>
      <td>
        {{ item.status }}
      </td>
      <td>{{ item.date.start | date : 'd/M/yy' }} - {{ item.date.end | date : 'd/M/yy' }}</td>
      <td>
        {{ item.assign }}
      </td>
    </tr>

    }
  </tbody>
</table>
