.btn {
  background: var(--mat-sys-on-primary-fixed);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn:hover {
  opacity: 0.85;
}
