.container-dashboard,
.container-card-small,
.container-big-card {
  display: grid;
  gap: 1rem;
}
.container-dashboard {
  padding: 0 20px;
}
.container-card-small {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container-big-card {
  grid-template-columns: 1fr 1fr;
}
:host {
  width: 100%;
}
